
/* ----- ///// booking_finish_page ///// ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- body start ---------- */

.finish_container {
    width: 880px;
    height: 60vh;
    background-color: #b5b4b477;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 20px 0;
    border-radius: 5px;
    /* border: 2px solid red; */
}

.finish_form_title
{
    width: 100%;
    font-size: 36px;
    color: black;
    text-align: center;
    /* border: 4px solid yellowgreen; */
}

.finish_form_show {
    /* border: 6px dashed orchid; */
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    margin: 10px auto;
}

.form_container_finish_wrapper {
    /* border: 2px solid darkblue; */
    width: 300px;
    height: 280px;
    font-size: 18px;
    font-weight: normal;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_container_finish {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    margin: 10px auto;
    /* border: 2px solid black; */
}

.finish_btn_booking_manage,
.finish_btn_back_to_index
{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #8b1309;
    margin: 0 10px;
}

.finish_btn_booking_manage,
.finish_btn_back_to_index
{
    background-color: #313030;
}

/* ---------- body over ---------- */


/* ---------- footer_page start ---------- */

.footer_page {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ---------- footer_page over ---------- */