/* 首頁 start */


/* 搜尋欄 start */

#search_box {
    height: 100vh;
    display: flex;
    align-items: center;
    max-width: 100%;
    background-image: url("../img/index_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.search_mobile_div,
.mobile_div {
    display: none;
}


/* 搜尋關鍵字 start */

.search_keyword {
    width: 600px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    border: none;
}

.search_keyword:hover {
    box-shadow: 0 1px 10px 2px #999999;
}

.search_keyword:focus {
    outline: none;
    box-shadow: 0 1px 10px 2px #888888;
}


/* 搜尋關鍵字 end */


/* 搜尋地區 start */

.area_btn {
    display: none;
}

.area_label {
    position: relative;
    width: 600px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    color: #403C3C;
    text-align: start;
    cursor: pointer;
    border-radius: 5px;
}

.area_label .fa-map-marker-alt {
    color: #403C3C;
    padding: 10px;
}

.area_label .fa-sort-down {
    color: #403C3C;
    margin-left: 75.4%;
}


/* .area_btn:checked+.area_label+.tab_div {
    display: block;
} */

.area_label:hover {
    box-shadow: 0 1px 10px 2px #999999;
    color: black;
}

.area_btn:checked+.area_label {
    box-shadow: 0 1px 10px 2px #888888;
}

.tab_div {
    background-color: white;
    text-align: center;
    margin-top: -8px;
    padding-top: 15px;
    z-index: 2;
    width: 600px;
    display: none;
    border-radius: 0 0 5px 5px;
}

.tab_css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab_css input {
    display: none;
}

.tab_css label {
    margin: 0 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #8B1309;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

.tab_content {
    order: 1;
    display: none;
    width: 100%;
    line-height: 1.6;
    font-size: 16px;
    padding: 15px;
    border: 1px solid rgb(226, 225, 225);
}

.tab_content span {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.tab_css input:checked+label,
.tab_css label:hover {
    opacity: 1;
    font-weight: bold;
}

.tab_css input:checked+label+.tab_content {
    display: initial;
}

.tab_close {
    padding: 10px;
}


/* 搜尋地區 end */


/* 進階搜尋 start */

.other_btn {
    display: none;
}

.other_label {
    position: relative;
    width: 600px;
    height: 50px;
    line-height: 50px;
    background-color: #FCC106;
    color: #403C3C;
    text-align: start;
    cursor: pointer;
    border-radius: 5px;
}

.other_label:hover {
    box-shadow: 0 1px 10px 2px #999999;
    color: black;
}

.other_label .fa-hand-point-up {
    color: #403C3C;
    padding: 10px;
}

.other_label .fa-sort-down {
    color: #403C3C;
    margin-left: 78%;
}

.chk_div {
    background-color: #FCC106;
    margin-top: -8px;
    /* position: absolute;
    top: 180px;
    left: 34.4%; */
    z-index: 1;
    width: 600px;
    border-radius: 0 0 5px 5px;
    display: none;
    text-align: center;
}


/* .other_btn:checked+.other_label+.chk_div {
    display: block;
} */

.other_btn:checked+.other_label {
    box-shadow: 0 1px 10px 2px #888888;
}

.chk_css {
    padding: 20px 25px 10px 25px;
}

.chk_item {
    display: inline;
    padding: 5px 10px;
}

.chk_chk {
    width: 16px;
    height: 16px;
}

.chk_close {
    padding: 10px;
}


/* 進階搜尋 end */


/* 搜尋鈕 start */

.search_btn {
    background-color: #8B1309;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    height: 40px;
    width: 350px;
    transition: 0.3s;
}

.search_btn:hover {
    background-color: #a30f01;
}


/* 搜尋鈕 end */


/* 搜尋欄 end */

.kind_div {
    margin-left: 10%;
    margin-right: 10%;
}

.kind_div h3 {
    padding: 50px;
    text-align: center;
}

.water_fall {
    width: 100%;
    column-count: 3;
}

.kind_span {
    list-style-type: none;
    /* width: 45%;
    float: left;
    height: 45%; */
    margin-right: 5%;
    margin-top: 5%;
}

.kind_span span:hover {
    color: #999999;
}

.index_img {
    width: 90%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.index_img img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    transform: scale(1, 1);
    transition: all 1s ease-out;
    object-fit: cover
}

.index_img img:hover {
    transform: scale(1.2, 1.2);
}

.kind_span span {
    text-decoration: none;
    position: absolute;
    left: 22.5%;
    top: 40%;
    font-size: 55px;
    z-index: 1;
    color: white;
}


/* 首頁 end */


/* RWD start */


/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    .search_keyword {
        height: 40px;
        width: 500px;
    }
    .area_label {
        height: 40px;
        line-height: 40px;
        width: 500px;
    }
    .area_label .fa-sort-down {
        margin-left: 71%;
    }
    .tab_div {
        /* position: absolute;
        top: 100px;
        left: 330px; */
        width: 500px;
    }
    .other_label {
        height: 40px;
        line-height: 40px;
        width: 500px;
    }
    .other_label .fa-sort-down {
        margin-left: 74%;
    }
    .chk_div {
        /* position: absolute;
        top: 180px;
        left: 230px; */
        width: 500px;
    }
    .chk_css{
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .chk_item {
        padding: 5px 10px 5px 10px;
        font-size: 1.3vw;
    }
    .tab_close,
    .chk_close {
        font-size: 14px;
    }
    .search_btn {
        width: 300px;
    }
    .kind_span span {
        position: absolute;
        left: 18%;
        top: 35%;
        font-size: 55px;
    }
}


/* 大型螢幕 */

@media screen and (max-width:992px) {
    #search_box {
        height: 60vh;
    }
    .search_keyword {
        width: 450px;
    }
    .area_label {
        width: 450px;
    }
    .area_label .fa-sort-down {
        margin-left: 68%;
    }
    .tab_div {
        /* position: absolute;
        top: 100px;
        left: 135px; */
        width: 450px;
    }
    .other_label {
        width: 450px;
    }
    .other_label .fa-sort-down {
        margin-left: 71.5%;
    }
    .chk_div {
        /* position: absolute;
        top: 180px;
        left: 135px; */
        width: 450px;
    }
    .chk_css{
        padding: 5px 5px 0px 5px;
    }
    .chk_item {
        padding: 5px;
    }
    .search_btn {
        width: 450px;
    }
    .kind_span {
        width: 100%;
        height: 40%;
        margin-bottom: 5%;
    }
    .kind_span span {
        position: absolute;
        left: 22.5%;
        top: 40%;
        font-size: 72px;
    }
}


/* 平板 */

@media screen and (max-width:768px) {
    #search_box {
        height: 70vh;
    }
    .search_div {
        display: none;
    }
    .search_mobile_div {
        all: unset;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .search_mobile_inline_div {
        background-color: #fff;
        width: 75%;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }
    .search_icon {
        margin-left: 20px;
        font-size: 25px;
    }
    .search_label {
        margin-left: 20px;
        font-size: 20px;
        line-height: 40px;
    }
    .mobile_div {
        font-size: 3vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background-color: #fff;
    }
    .turn_off {
        background-color: rgb(236, 236, 236);
        font-size: 4vw;
    }
    .mobile_inline_div {
        padding: 20px 50px 50px 50px;
        background-color: rgb(236, 236, 236);
    }
    .search_keyword {
        width: 100%;
    }
    .area_label {
        width: 100%;
        margin-bottom: 20px;
    }
    .area_label .fa-sort-down {
        display: none;
    }
    .mobile_tab_div {
        width: 100%;
        margin-left: 70px;
        margin-top: 30px;
        display: none;
    }
    .mobile_tab_css label {
        font-size: 2.6vw;
        width: 80%;
        border-bottom: 1.5px solid #d1d1d1;
        display: block;
    }
    .mobile_tab_content {
        display: none;
    }
    .mobile_tab_content span {
        display: block;
        width: 80%;
        border-bottom: 1px solid rgb(224, 224, 224);
        font-size: 2.3vw;
        margin-bottom: 10px;
    }
    .other_label {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 20px;
        float: left;
        z-index: 1000;
    }
    .other_label .fa-sort-down {
        display: none;
    }
    .mobile_chk_css {
        width: 40%;
        float: left;
        margin: 10px;
    }
    .mobile_chk_item {
        font-size: 2.5vw;
        margin-right: 50px;
    }
    .search_btn {
        margin-top: 0px;
        width: 49%;
    }
    .kind_span {
        width: 100%;
        height: 45%;
        margin-bottom: 5%;
    }
    .kind_span span {
        position: absolute;
        left: 22.5%;
        top: 40%;
        font-size: 54px;
    }
}


/* 手機 */

@media screen and (max-width:576px) {
    #search_box {
        height: 60vh;
    }
    .other_label {
        width: 100%;
    }
    .mobile_tab_div {
        margin-left: 50px;
    }
    .mobile_chk_item {
        margin-right: -10px;
    }
    .search_btn {
        width: 100%;
    }
}


/* 小手機 */

@media screen and (max-width:480px) {}


/* RWD end */