.search_div {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-top: 20px;
}

.search_mobile_div,
.mobile_div {
    display: none;
}

/* 搜尋關鍵字 start */

.search_keyword {
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 5px 0 0 5px;
    background-color: white;
    border: 1px solid #888888;
    float: left;
}

.search_keyword:hover {
    box-shadow: 0 1px 10px 2px #999999;
}

.search_keyword:focus {
    outline: none;
    box-shadow: 0 1px 10px 2px #888888;
}


/* 搜尋關鍵字 end */


/* 搜尋地區 start */

.area_btn {
    display: none;
}

.area_label {
    position: relative;
    width: 350px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border: 1px solid #888888;
    margin-bottom: 40px;
    color: #403C3C;
    text-align: start;
    cursor: pointer;
}

.area_label .fa-map-marker-alt {
    color: #403C3C;
    padding: 10px;
}

.area_label .fa-sort-down {
    color: #403C3C;
    margin-left: 60%;
}


/* .area_btn:checked+.area_label+.tab_div {
    display: block;
} */

.area_label:hover {
    box-shadow: 0 1px 10px 2px #999999;
    color: black;
}

.area_btn:checked+.area_label {
    box-shadow: 0 1px 10px 2px #888888;
}

.tab_div {
    background-color: white;
    position: absolute;
    top: 70px;
    left: 324px;
    z-index: 1;
    width: 500px;
    display: none;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #888888;
    border-radius: 0 0 5px 5px;
}

.tab_css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab_css input {
    display: none;
}

.tab_css label {
    margin: 0 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #8B1309;
    color: #fff;
    opacity: 0.5;
}

.tab_content {
    order: 1;
    display: none;
    width: 100%;
    line-height: 16px;
    font-size: 16px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.tab_content span {
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.tab_css input:checked+label,
.tab_css label:hover {
    opacity: 1;
    font-weight: bold;
}

.tab_css input:checked+label+.tab_content {
    display: initial;
}

.tab_close {
    padding: 10px;
}


/* 搜尋地區 end */


/* 進階搜尋 start */

.other_btn {
    display: none;
}

.other_label {
    position: relative;
    width: 350px;
    height: 50px;
    line-height: 50px;
    background-color: #FCC106;
    border: 1px solid #888888;
    margin-bottom: 40px;
    color: #403C3C;
    text-align: start;
    cursor: pointer;
}

.other_label:hover {
    box-shadow: 0 1px 10px 2px #999999;
    color: black;
}

.other_label .fa-hand-point-up {
    color: #403C3C;
    padding: 10px;
}

.other_label .fa-sort-down {
    color: #403C3C;
    margin-left: 64%;
}

.chk_div {
    background-color: #FCC106;
    position: absolute;
    top: 70px;
    left: 524px;
    z-index: 1;
    text-align: center;
    width: 500px;
    border: 1px solid #888888;
    border-radius: 0 0 5px 5px;
    display: none;
}


/* .other_btn:checked+.other_label+.chk_div {
    display: block;
} */

.chk_css {
    padding: 20px 20px 0 20px;
    border-bottom: 1px solid #888888;
}

.chk_item {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 20px;
}

.chk_chk {
    width: 24px;
    height: 24px;
}

.chk_close {
    padding: 10px;
}


/* 進階搜尋 end */


/* 搜尋鈕 start */

.search_btn {
    background-color: #8B1309;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    height: 50px;
    width: 100px;
    transition: 0.3s;
}

.search_btn:hover {
    background-color: #a30f01;
}


/* 搜尋鈕 end */


/* 搜尋欄 end */


/* 麵包屑 start */

.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb .breadcrumb-item {
    font-size: 18px;
    font-weight: bolder;
}


/* 麵包屑 end */


/* 餐廳列表 start */

.rest_div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rest_list {
    width: 48%;
    padding: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.rest_img {
    width: 40%;
    margin-right: 5px;
}

.rest_list img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.rest_text{
    width: 70%;
}

.rest_inline_div{
    display: flex;
    justify-content: space-between;
}

.rest_list .rest_text a{
    background-color: #8B1309;
    color: #fff;
    border-radius: 5px;
    padding: 1px 6px;
    text-decoration: none;
    transition: 0.3s;
}

.rest_text a:hover{
    background-color: #a30f01;
}

/* #search_aside {
    background-color: #999999;
    width: 12%;
    height: 100%;
    position: fixed;
    top: 5%;
    left: 0;
}

#search_aside h5 {
    padding: 10px;
    text-align: center;
    margin-top: 56px;
    font-size: 28px;
}

.kind_aside {
    list-style-type: none;
    font-size: 18px;
    margin-left: 28px;
} */

#page_list .pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/* RWD start */


/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    .search_keyword {
        width: 250px;
    }
    .area_label {
        width: 250px;
    }
    .area_label .fa-sort-down {
        margin-left: 43%;
    }
    .tab_div {
        position: absolute;
        top: 7.4%;
        left: 27.5%;
        width: 44%;
    }
    .other_label {
        width: 250px;
    }
    .other_label .fa-sort-down {
        margin-left: 50%;
    }
    .chk_div {
        position: absolute;
        top: 7.4%;
        left: 35.8%;
        width: 44%;
    }
    .chk_css {
        padding: 20px 15px 0 15px;
    }
    .chk_css label{
        margin-right: 13px;
    }
    .chk_item {
        display: inline-block;
        font-size: 2vw;
        margin-left: 6px;
        margin-bottom: 15px;
    }
    .search_btn {
        width: 100px;
    }
    .kind_span span {
        position: absolute;
        left: 18%;
        top: 35%;
        font-size: 55px;
    }
}


/* 大型螢幕 */

@media screen and (max-width:992px) {
    #search_box {
        height: 60vh;
    }
    .search_keyword {
        width: 200px;
    }
    .area_label {
        width: 200px;
    }
    .area_label .fa-sort-down {
        margin-left: 30%;
    }
    .tab_div {
        position: absolute;
        top: 4%;
        left: 28.4%;
        width: 56%;
    }
    .other_label {
        width: 200px;
    }
    .other_label .fa-sort-down {
        margin-left: 40%;
    }
    .chk_div {
        position: absolute;
        top: 4%;
        left: 28.2%;
        width: 56%;
    }
    .chk_css {
        padding: 15px 0 0 5px;
    }
    .search_btn {
        width: 100px;
    }
    .rest_div {
        width: 100%;
    }
    .rest_list {
        width: 100%;
    }
    .rest_img {
        width: 30%;
    }
}

/* 平板 */

@media screen and (max-width:768px) {
    #search_box {
        height: 70vh;
    }
    .search_div {
        display: none;
    }
    .search_mobile_div {
        all: unset;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .search_mobile_inline_div {
        background-color: #fff;
        width: 75%;
        height: 40px;
        margin-top: 20px;
        border: 1px solid #999999;
        border-radius: 5px;
        cursor: pointer;
    }
    .search_icon {
        margin-left: 20px;
        font-size: 25px;
    }
    .search_label {
        margin-left: 20px;
        font-size: 20px;
        line-height: 40px;
    }
    .mobile_div {
        font-size: 3vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background-color: #fff;
    }
    .turn_off {
        background-color: rgb(236, 236, 236);
        font-size: 4vw;
    }
    .mobile_inline_div {
        padding: 20px 50px 50px 50px;
        background-color: rgb(236, 236, 236);
    }
    .search_keyword {
        width: 100%;
        border-radius: 5px;
    }
    .area_label {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .area_label .fa-sort-down {
        display: none;
    }
    .mobile_tab_div {
        width: 100%;
        margin-left: 10%;
        margin-top: 30px;
        display: none;
    }
    .mobile_tab_css label {
        font-size: 2.6vw;
        width: 80%;
        border-bottom: 1.5px solid #d1d1d1;
        display: block;
    }
    .mobile_tab_content {
        display: none;
    }
    .mobile_tab_content span {
        display: block;
        width: 80%;
        border-bottom: 1px solid rgb(224, 224, 224);
        font-size: 2.3vw;
        margin-bottom: 10px;
    }
    .other_label {
        width: 49%;
        border-radius: 5px;
        margin-right: 2%;
        margin-bottom: 20px;
        float: left;
        z-index: 1000;
    }
    .other_label .fa-sort-down {
        display: none;
    }
    .mobile_chk_css {
        width: 40%;
        float: left;
        margin: 10px;
    }
    .mobile_chk_item {
        font-size: 2.5vw;
        margin-right: 50px;
    }
    .search_btn {
        margin-top: 0px;
        border-radius: 5px;
        width: 49%;
    }
}


/* 手機 */

@media screen and (max-width:576px) {
    #search_box {
        height: 60vh;
    }
    .area_label {
        margin-bottom: 20px;
    }
    .area_label .fa-sort-down {
        margin-left: 65%;
    }
    .tab_div {
        position: absolute;
        top: 100px;
        left: 85px;
        width: 400px;
    }
    .tab_content span {
        margin-right: 25px;
        margin-left: 30px;
    }
    .other_label {
        width: 100%;
        margin-bottom: 20px;
    }
    .other_label .fa-sort-down {
        margin-left: 69.1%;
    }
    .chk_div {
        position: absolute;
        top: 160px;
        left: 85px;
        width: 400px;
    }
    .search_btn {
        width: 100%;
    }
}


/* 小手機 */

@media screen and (max-width:480px) {
    .area_label {
        margin-bottom: 20px;
    }
    .area_label .fa-sort-down {
        margin-left: 60%;
    }
    .tab_div {
        position: absolute;
        top: 100px;
        left: 50px;
        width: 350px;
    }
    .other_label {
        margin-bottom: 20px;
    }
    .other_label .fa-sort-down {
        margin-left: 64.5%;
    }
    .chk_div {
        position: absolute;
        top: 160px;
        left: 50px;
        width: 350px;
    }
}


/* RWD end */