aside {
    background-color: #403C3C;
    width: 230px;
    height: 85vh;
    position: fixed;
    top: 12%;
}

.panel-default{
    /* border: 1px solid red; */
    border-bottom: 1px solid white;
    padding: 5px;
    width: 100%;
}

.panel-title {
    padding-top: 8px;
}

.panel-heading .panel-title a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}

.little_title {
    /* border: 1px solid red; */
    margin-left: -5px;
    margin-right: -6px;
    padding: 5px 0 5px 15px;
}

.little_title:hover {
    background-color: #8B1309;
}

.panel .little_title a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.sreach_form {
    /* border: 1px solid red; */
    padding: 0 10px 5px 10px;
}

.form_textbox {
    margin-bottom: -6px;
}

.container{
    height: 83vh;
}

.container .order_table {
    position: absolute;
    top: 100px;
    left: 16%;
    width: 80%;
}

.member_info{
    
    margin-top: 60px;
}

.member_contain{
    padding-top: 20px;
}

.member_edit_btn{
    margin-left: 200px;
    border-radius: 5px;
    margin-top: 30px;
    font-family: Noto Sans TC;
}

.title_member_edit{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: Noto Sans TC;
}

.edit_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,30%);
}



label{
    margin-right: 20px;
}

.member_confirm_btn{
    margin-left: 150px;
    border-radius: 5px;
    margin-top: 30px;
    font-family: Noto Sans TC;
}

th{
    text-align: center;
    position: relative;
    left: 30px;
    letter-spacing: 5px;
}

td{
    text-align: center;
}

.cancel_btn{
    border-radius: 8px;
}

.detail_btn{
    border: 1px solid gray;
    border-radius: 8px;
}

.comment_btn{
    border-radius: 8px;
}

.cancel_modal_body{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 28px;
    font-family: Noto Sans TC;
}

.modal-title{
    font-family: Noto Sans TC;
    font-size: 24px;
    
    
}
.detail_modal_body{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    font-size: 18px;
    font-family: Noto Sans TC;
}

.rank_modal_body{
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    font-family: Noto Sans TC;
}

.modal-footer{
    font-family: Noto Sans TC;
}

.rank_modal_title{
    position: absolute;
    font-size: 28px;
    left: -50px;
    top: -40px;

}
.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #ddd; /*背景星星顏色*/
    overflow: hidden;
    font-size: 40px; /*調整字體大小可放大縮小星星*/
    text-shadow: 0px 1px 0 #999;
    }
.full_star {
    width: 100%; /*調整寬度可變更星等*/
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: orange; /*前景星星顏色*/
}
