body {
    height: 100%;
}


/* 導覽列 start */

header .navbar {
    height: 10%;
    width: 100%;
}

header a img {
    width: 100%;
    height: 80px;
}

.nav_icon {
    margin-top: 30px;
    margin-left: auto;
    font-size: 20px;
}

.rwd_icon {
    display: none;
}

.nav_icon a {
    margin-left: 30px;
    position: relative;
}

.nav_icon a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 100%;
    transition: 0.3s all;
}

.nav_icon a:hover::before {
    content: "";
    background-color: #FCC106;
}

nav .nav_a {
    margin-right: 40px;
    color: #403C3C;
    text-decoration: none;
}


/* 導覽列 end */

/* 頁尾 start */
footer {
    background-color: #403C3C;
    color: white;
    margin-top: 5%;
}

.footer_text {
    text-align: center;
    line-height: 50px;
    height: 60px;
}

.footer_link {
    /* float: right; */
    /* text-align: right; */
    display: flex;
    justify-content: end;
}

.footer_link a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
/* 頁尾 end */