
/* 分類列表 */
.menu_group{
    margin: 0 0 1vw 0;
    height: 75px;
    width: 100%;
    background-color: #403C3C;
}

#menu_group{
    padding-top: 10px;
    margin-left: 10vw;
    margin-right: 3vw;
}

.menu_group_list{
    margin-top: 8px;
    margin-bottom: 10px;
    margin: 8px 0 10px 0;
    height: 40px;
    width: 9vw;
    font-size: 12pt;
    border: 1px solid #FCC106;
    color: #403C3C;
    transition: 0.3s;
}
.menu_group_list:hover{
    background-color: #8B1309;
    color: white;
}

#group_1{
    margin-top: 15px;
}

/* 按鈕圓角 */
.oval{
    border-radius: 100px;
}

/* 分類標題 */
.food_title{
margin-left: 10vw;
}

/* 商品框*/
div.food_list_border{
    width: 35%;
	float: left;
    margin: 0 0.5vw 1vw 10vw;
    border: 1px #343A3F solid;
    border-radius: 10px;
}
/* 右側商品框*/
div.food_list_border2{
    margin-left: 0vw;
}

.food_name{
    font-size: 16pt;
}
.food_detail{
    flex-wrap: nowrap;
    list-style-type: none; 
    margin-left: 20%;
}

.dollar{
    margin-right: 5%;
    font-size: 12pt;
}

.food_img{
    width: 150px;
    height: auto;
    float: left;
    margin: 5px 20px 5px 5px;
}

/* 加入購物車按鈕 */
.btn_add_cart{
    font-size: 10pt;
    border-radius: 0 0 9px 9px;
    width: 100%;
    background-color: #403C3C;
    color: white;
    transition: 0.3s;
}

.btn_add_cart:hover{
    background-color: brown;
}



/* 商品數量 */
.btn_count{
    margin: 2% 1vw 0 1vw ;
    width: 30px;
    height: 30px;
    background-color: white;
    border:1px solid #403C3C;
    border-radius: 100%;
    transition: 0.3s;
}
.btn_count:hover{
    background-color: #8B1309;
    color: white;
}


.food_list_detail{
    align-items: flex-start
}



/* 揪團與結帳 */
.food_order_group{
    width: 10%;
	float: left;
    margin-right: 8%;
    position: fixed;
    display: flex; 
    justify-content:center;
    top: 35%;
    left: 85%;
    transition: 0.3s;
}

.group_button{
    background-color: #403C3C;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 1vw;
    border: 0;
}

.group_button:hover{
    background-color: #FCC106;
    color: black;

}



/* 結帳 */
#checkout{
    width: 100vw;
    height: 50px;
    margin-top: 10px;
    background-color: #8B1309;
    border: 0;
    color: white;
    font-size: 1vw;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;

}

#checkout:hover{
    background-color: #FCC106;
    color: black;
    
}


/*已開啟揪團 start*/
thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 1em;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 3em;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 4em;
}

thead th:nth-child(4),
tbody td:nth-child(4),
thead th:nth-child(5),
tbody td:nth-child(5) {
  width: 1em;
}

.order_member_table {
  background-color: 1px solid black;
}

.btn_view {
  color: white;
  background-color: #403c3c;
  border-radius: 50px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 2em;
  width: 8em;
  /* font-size: large; */
  /* font-weight: 600; */
}

.share_member_table tbody tr:nth-child(1),
.share_member_table tbody tr:nth-child(2) {
  text-align: left;
}

.share_member_table tbody tr:nth-child(2) p {
  position: relative;
}

.share_member_table tbody tr:nth-child(2) p::before {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 2px;
  width: 100%;
  transition: 0.3s all;
}

.share_member_table tbody tr:nth-child(2) p:hover::before {
  content: "";
  background-color: lightslategrey;
}

#order_share {
  position: fixed;
  top: 30%;
  margin-right: 5%;
}

.share_member_table {
  position: fixed;
  top: 40%;
  margin-right: 5%;
}

.show_member {
  border: white solid 1px;
  background-color: white;
  position: fixed;
  top: 50%;
  right: 0%;
  text-align: center;
  width: 8em;
  margin-right: 5.5%;
  z-index: 1;
}

.show_member_detail {
  padding-left: 0px;
}

.show_member_detail > li {
  border-bottom: #585555c5 0.5px solid;
}

#checkout {
  width: 100px;
  height: 50px;
  position: fixed;
  bottom: 28%;
  right: 6%;
  align-self: center;
  font-size: 12pt;
}


/*已開啟揪團 end*/



/* 大平板 */
@media screen and (max-width:995px) {
    .menu_group_list{
        width: 13vw;
    }    

    .order_number{
        display: none;
    }

}


/* 平板 */

@media screen and (max-width:768px) {
        .menu_group_list{
            width: 15vw;
            font-size: 11pt;
        }
    
    .menu_group{
        overflow: hidden;
    }

    div.food_list_border{
        width: 70%;  
        margin-right: 0;
    }
    .group_button{
    }
    div.food_list_border2{
        margin-right: 0;
        margin-left: 10vw;
    }
    div.food_order_group{
        float: right;
    }

    .order_number{
        display: block;
    }

}


/* 手機 */

@media screen and (max-width:576px) {
    .menu_group_list{
        width: 20vw;
        font-size: 11pt;
    }

    div.food_list_border{
        width: 70%;  
        margin-right: 0;
    }
    div.food_list_border2{
        margin-left:10vh;
    }
    div.food_order_group{
        float: right;
        margin-left: 3vh;
    }

    div.food_list_border2{
        margin-left: 10vw;
    }
    .group_button{

    }
    .dollar{
        font-size: 14pt;
    }
}