
/* ----- ///// restaurant_page ///// ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- body start ---------- */

.btn {
    margin-top: 10px;
}

#order,
#take_away
{
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
    background-color: #313030;
    transition: 0.3s;
}

#order:hover,
#take_away:hover
{
    background-color: #524d4d;
}

#carousel {
    width: 100%;
    height: 300px;
}

.carousel-inner {
    width: 480px;
    height: 300px;
}

.carousel-item {
    width: 480px;
    height: 300px;
    float: left;
}

.carousel-item > img {
    width: 100%;
    height: 100%;
}

.list-group {
    margin: 20px 0;
}

.list-group > li {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid grey;
}

.service,
.menu,
.comment > textarea
{
    width: 100%;
    height: 200px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 10px 0;
}

.service:hover,
.menu:hover,
.comment > textarea:hover
{
    border: 3px solid gray;
}

/* ---------- body over ---------- */


/* ---------- footer_page start ---------- */

.footer_page {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ---------- footer_page over ---------- */
