/* shopping char start */

/* 位置連結 start */
body{
  font-size: 16px;
}

div .location_bar a {
  font-size: 16px;
  /* margin-right: 40px; */
  color: #403c3c;
  text-decoration: none;
  line-height: 50px;
}
div .location_bar {
  margin-left: 6%;
}
/* 位置連結 end */

/* 購物車欄位 start */
table {
  font-size: 16px;
}
.shopping {
  /* margin: 0 % 0; */
  padding: 0;
  border: 1px solid #707070;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}

.shopping-table {
  margin: 0;
  color: #707070;
}

table th {
  text-align: center;
  color: #707070;
}

#shopping-row td {
  height: 140px;
  text-align: center;
  vertical-align: middle;
}

.shopping-row {
  border-top: 1px solid #707070;
}

.qty-squre {
  border: 1px solid #707070;
  overflow: hidden;
  width: 100px;
}

.qty {
  width: 39px;
  height: 20px;
  text-align: center;
  border: 0;
}

.qty-btn {
  width: 25px;
  height: 25px;
  border: 0;
}

.delete-shopping {
  border-left: 1px solid #707070;
}

.shopping-checkbox {
  height: 24px;
  width: 24px;
}

.shopping table tr td:nth-child(1) {
  width: 50px;
}

.shopping table tr td:nth-child(2) {
  width: 250px;
}

.shopping table tr td:nth-child(3) {
  width: 140px;
  text-align: start;
}

.shopping table tr td:nth-child(4),
.shopping table tr td:nth-child(5),
.shopping table tr td:nth-child(6) {
  width: 220px;
}

.shopping table tr td:nth-child(7) {
  min-width: 50px;
}
td span {
  display: inline-block;
  position: relative;
  text-align: center;
}

.wrapper img {
  position: relative;
  display: inline;
  margin-left: 0;
  overflow: hidden;
  width: 140px;
}

.all-squre {
  background-color: white;
  opacity: 0.95;
  /* border-top:solid 1px black ; */
  width: 100%;
  height: 80px;
  position: fixed;
  top: 78%;
  left: 0%;
}
/* 購物車欄位 end */

/* 頁尾固定區塊(結帳) start */
#buy-btn {
  width: 120px;
  height: 30px;
  background-color: #8b1309;
  color: white;
  border-radius: 5px;
}

#sum-row td {
  height: 80px;
  vertical-align: middle;
}

.all-squre tr td:nth-child(1) {
  width: 50px;
  text-align: end;
}

.all-squre tr td:nth-child(2) {
  width: 100px;
  text-align: center;
}
.all-squre tr td:nth-child(3) {
  width: 20px;
  text-align: end;
}
/* 頁尾固定區塊(結帳) end*/

/* 平板手機 */
@media screen and (max-width: 768px) {
  table tr td:nth-child(2) {
    width: 0;
  }
  #shopping-row img {
    display: none;
  }
  #ordername,
  #shopping-row .ordername {
    width: 50px;
    position: relative;
    right: 20px;
  }

  .shopping-checkbox {
    height: 20px;
    width: 20px;
  }

  /* .all-squre tr td:nth-child(1){
        width: 200px;
        text-align: start;
    } */

  /* .all-squre tr td:nth-child(2){
        width:50px;
        text-align: end;
    }
    .all-squre tr td:nth-child(3){
        width:20px;
        text-align: end;
    } */
}
/* shopping char end*/
