#ordername {
  text-align: start;
}

#all-squre tr td > b {
  position: relative;
  right: 50px;
}
#buy-ok-btn {
  width: 120px;
  height: 30px;
  background-color: #8b1309;
  color: white;
  border-radius: 5px;
  position: relative;
  margin-right: 40%;
}
#buy-back-btn {
  width: 120px;
  height: 30px;
  background-color: #403c3c;
  color: white;
  border-radius: 5px;
  position: relative;
  margin-right: 40%;
}
@media screen and (max-width: 768px) {
  #shopping-row img {
    display: none;
  }
}

@media screen and (max-width: 576px) {
}
