.container {
    /* border: 1px solid black; */
    margin-top: 10px;
    padding: 50px;
} 

.register_title {
    display: flex;
    justify-content: center; 
    margin-bottom: 40px;
}

.register_title_text {
    font-size: 30px;
    font-weight: 600px;
}

.register_form {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.input_box {
    width: 300px;
    margin-left: 20px;
}

.form_text {
    font-size: 20px;
    letter-spacing: 15px;
}

.password_confirm {
    position: relative;
    right: 69px;
}

.btn_div{
    display: flex;
    justify-content: center;
}

.register_btn {
    color: white;
    background-color: #8B1309;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin-top: 50px;
    transition: 0.3s;
}

.register_btn:hover{
    background-color: #a30f01;
}

.footer_page {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* RWD */

/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    
    .container {
        /* border: 1px solid black; */
        margin-top: -30px;
    } 
    
    .register_title {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-bottom: 15px;
    }

    .member_icon {
        width: 30px;
    }

    .register_title_text {
        font-size: 25px;
        font-weight: 600;
    }

    .input_box {
        width: 200px;
        margin-left: 10px;
    }

    .form_text {
        font-size: 16px;
        letter-spacing: 10px;
    }

    .password_confirm {
        position: relative;
        right: 53px;
    }

    .register_btn {
        padding: 5px;
        width: 100%;
        margin-top: 0px;
    }
    

}


/* 大型螢幕 */

@media screen and (max-width:992px) {
     

}


/* 平板 */

@media screen and (max-width:768px) {
    
    .container {
        /* border: 1px solid black; */
        margin-top: 80px;
    } 

    .register_title {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-bottom: 30px;
    }

    .member_icon {
        width: 35px;
    }

    .register_title_text {
        font-size: 30px;
        font-weight: 600;
    }

    .input_box {
        width: 250px;
        margin-left: 10px;
    }

    .form_text {
        font-size: 20px;
        letter-spacing: 10px;
    }

    .password_confirm {
        position: relative;
        right: 60px;
    }

    .register_btn {
        padding: 5px;
        width: 100%;
        margin-top: 30px;
    }

}


/* 手機 */

@media screen and (max-width:576px) {

    .container {
        /* border: 1px solid black; */
        margin-top: -25px;
    } 

    .register_title {
        display: flex;
        justify-content: center; 
        align-items: center;
        margin-bottom: 20px;
    }

    .member_icon {
        width: 25px;
    }

    .register_title_text {
        font-size: 22px;
        font-weight: 600;
    }

    .input_box {
        width: 180px;
        margin-left: 10px;
    }

    .form_text {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 5px;
    }

    .password_confirm {
        position: relative;
        right: 40px;
    }

    .register_btn {
        padding: 5px;
        width: 100%;
        margin-top: 25px;
    }

}
