thead th:nth-child(1),
tbody td:nth-child(1) {
  width: 1em;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 4em;
}

thead th:nth-child(3),
tbody td:nth-child(3) {
  width: 4em;
}

thead th:nth-child(4),
tbody td:nth-child(4),
thead th:nth-child(5),
tbody td:nth-child(5) {
  width: 0.5em;
}

.order_member_table {
  background-color: 1px solid black;
}

.btn_view {
  color: white;
  background-color: #403c3c;
  border-radius: 50px;
  height: 2em;
  width: 8em;
}

.share_member_table tbody tr:nth-child(1),
.share_member_table tbody tr:nth-child(2) {
  text-align: left;
}

.dropbtn p {
  position: relative;
}

.dropbtn p::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;
  transition: 0.3s all;
}

.dropbtn p:hover::before {
  content: "";
  background-color: lightslategrey;
}

.share_member{
  display: flex;
 justify-content: end;
}


#order_share {
  position: relative;
  bottom:10%;
  display:flex;
}

.share_member_table {
  position:relative;
}

.show_member {
  border: white solid 1px;
  background-color: rgb(243, 238, 238);
  position: absolute;
  text-align: center;
  width: 8em;
  margin-right: 0%;
  z-index: 1;
}

#dropbtn div{
  position: relative;
  display: block;
}

.show_member_detail {
  padding-left: 0px;
}


.show_member_detail > li {
  border-bottom: #585555c5 0.5px solid;
  font-size: 16px;
  line-height: 1.5em;
  align-items:baseline;
}

#checkout {
  width: 8em;
  height: 2em;
  text-align: center;
  font-weight: 600;
}

.rwd_icon_plus{
  border-radius:50%;
  border: solid 1.5px #585555c5;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 0%;
  z-index: 2;
  background-color: white;
  display: none;
}
.close_btn{
  display: none;
}

.footer_page {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}



@media screen and (max-width:768px) {
  #table_order{
    width: 100%;
  }
  .share_member{
    visibility: hidden;
  }

 .rwd_icon_plus{
    display: initial;
  }
  .rwd_share_member_table{
    visibility: visible;
    position: fixed;
    top:160px;
    right: 0;
    z-index: 1;
    background-color: antiquewhite;
    border-radius: 0;
    display: none;
  }
  #order_share  img{
    display:none;
  }
  .close_btn{
    display: inline;
    float: right;
  }

  #checkouot{
    visibility: visible;
  }


  }

  @media screen and (max-width:576px) {

    .footer_page {
        position: static;
        margin-top: 20px;
    }
  }




