
/* ----- ///// progress ///// ----- */

.progress_container {
    width: 100%;
    margin: 0 20px;
}

.progress_ul li {
    list-style-type: none;
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #707070;
}

.progress_ul li:before {
    content: "";
    width: 30px;
    height: 30px;
    line-height: 20px;
    border: 4px solid #707070;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
}

.progress_ul li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #707070;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progress_ul li:first-child:after {
    content: none;
}

.progress_ul li.active {
    /* color: #fcc106; */
    font-size: 23px;
    font-style: italic;
    font-weight: 600;
}

.progress_ul li.active:before {
    background-color: #fcc106;
}

.progress_ul li.active + li:after {
    background-color: #fcc106;
    height: 2.5px;
}




/* RWD start */


/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    .progress_container {
        margin: 0 auto;
    }
    .progress_ul li {
        font-size: 24px;
    }
    .progress_ul li:before {
        width: 36px;
        height: 36px;
        margin: 0 auto;
        border: 4px solid #707070;
        
    }
    .progress_ul li:after {
        height: 1px;
        background-color: #707070;
        top: 18px;
    }
    .progress_ul li.active {
        font-size: 26px;
        font-weight: bold;
    }
}


/* 大型螢幕 */

@media screen and (max-width:992px) {
    .progress_ul li {
        font-size: 22px;
    }
    .progress_ul li:before {
        width: 32px;
        height: 32px;
    }
    .progress_ul li:after {
        top: 14px;
    }
    .progress_ul li.active {
        font-size: 24px;
    }
}


/* 平板 */

@media screen and (max-width:768px) {
    .progress_ul li {
        font-size: 20px;
    }
    .progress_ul li:before {
        width: 28px;
        height: 28px;
    }
    .progress_ul li:after {
        top: 10px;
    }
    .progress_ul li.active {
        font-size: 22px;
    }
}


/* 手機 */

@media screen and (max-width:576px) {
    .progress_ul li {
        font-size: 18px;
    }
    .progress_ul li:before {
        width: 24px;
        height: 24px;
    }
    .progress_ul li:after {
        top: 10px;
    }
    .progress_ul li.active {
        font-size: 20px;
    }
}


/* 小手機 */

@media screen and (max-width:480px) {
    .progress_ul li {
        font-size: 16px;
    }
    .progress_ul li:before {
        width: 20px;
        height: 20px;
    }
    .progress_ul li:after {
        top: 9px;
    }
    .progress_ul li.active {
        font-size: 18px;
    }
}


/* RWD end */