/* 側邊攔 start */
#aside_menu_chk{
    opacity: 0;
    z-index: -1;
}

.aside_menu {
    background-color: #403C3C;
    width: 230px;
    height: 100%;
    position: fixed;
    float: left;
    z-index: 4;
}

.mobile_aside_menu{
    display: none;
}

.default {
    background-color: #8b1309;
}

.panel-default {
    border-bottom: 1px solid white;
    width: 100%;
}

.panel-heading:hover{
    background-color: #8B1309;
}

.panel-title {
    padding: 15px;
}

.panel-heading .panel-title a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}

.little_title {
    padding: 5px 0 5px 10px;
    transition: 0.3s;
}

.little_title:hover {
    background-color: #8B1309;
}

.panel .little_title a {
    text-decoration: none;
    color: white;
}

.sreach_form {
    margin-left: 40px;
}

/* 側邊欄 end */

#mobile_booking_history{
    display: none;
}

#booking_history{
    width: 80%;
    margin-left: 18%;
}

table th ,td{
    text-align: center;
}

.detail_btn {
    border: 1px solid #403C3C;
    border-radius: 5px;
    height: 35px;
}

.modal-title {
    font-size: 24px;
}

.detail_modal_body {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    font-size: 18px;
}

.rank_modal_body {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
}

.rank_modal_title {
    position: absolute;
    font-size: 28px;
    left: -50px;
    top: -40px;
}

.footer_page {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* RWD start */


/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    .aside_menu{
        display: none;
    }
    #aside_menu_chk:checked + .mobile_aside_menu{
        transform: translateX(0);
    }
    #aside_menu_chk:checked + .mobile_aside_menu .fa-angle-right{
        transform: scaleX(-1);
    }
    .mobile_aside_menu {
        display: unset;
        background-color: #403C3C;
        width: 230px;
        height: 100vh;
        position: absolute;
        float: left;
        left: 0; 
        position: fixed;
        transform: translateX(-99%);
        z-index: 2;
        transition: 0.6s;
    }
    .mobile_aside_menu label{
        position: absolute;
        background-color: #ccc;
        border-radius: 0 5px 5px 0;
        padding: 20px 10px;
        top: 50%;
        left: 100%;
        transition: 0.6s;
    }
    #booking_history{
        width: 100%;
        margin-left: 0%;
    }
}


/* 大型螢幕 */

@media screen and (max-width:992px) {

}


/* 平板 */

@media screen and (max-width:768px) {
    #booking_history{
        display: none;
    }
    #mobile_booking_history{
        all: unset;
    }
    .mobile_inline_booking_history{
        border: 1px solid #ccc;
        padding: 20px 0 0 0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .mobile_div{
        display: flex;
        justify-content: space-around;
    }
    .mobile_inline_div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #mobile_booking_history .mobile_inline_booking_history:last-child{
        margin-bottom: 100px;
    }
}


/* 手機 */

@media screen and (max-width:576px) {

}


/* 小手機 */

@media screen and (max-width:480px) {

}


/* RWD end */