#restaurant_login_index{
    width: 100%;
}
.restaurant_div{
    width: 100%;
    margin-top: 10%;
}
.restaurant_name {
    margin: 20px 0;
}

.restaurant_management {
    display: flex;
    justify-content: space-around;
}

.restaurant_detail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: #403C3C;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.restaurant_name h3{
    font-weight: 600;
}

.restaurant_management h3 {
    font-weight: 600;
}

.footer_page {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* RWD */

/* 超大型螢幕 */

@media screen and (max-width:1200px) {

}


/* 大型螢幕 */

@media screen and (max-width:992px) {
    .restaurant_detail {
        width: 300px;
        height: 300px;
    }
}


/* 平板 */

@media screen and (max-width:768px) {
    .restaurant_management {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .restaurant_detail {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* align-items: center;
        justify-content: center; */
        width: 350px;
        height: 350px;
        background-color: #403C3C;
        color: white;
        margin-bottom: 10px;
    }
    .restaurant_order:last-child{
        margin-bottom: 100px;
    }
}


/* 手機 */

@media screen and (max-width:576px) {
    header a img {
        width: 70%;
        height: 50px;
    }
    /* .nav_icon a {
        font-size: 14px;
        margin-left: 0px;
    } */
}