html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
}

ul,
li {
    list-style-type: none;
}

button {
    border: none;
}

input[type=checkbox] {
    accent-color: #8B1309;
}

input[type=radio] {
    accent-color: #8B1309;
}


/* 導覽列 start */

.header_page {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

header .navbar {
    height: 12%;
    width: 100%;
}

header a img {
    width: 100%;
    height: 60px;
}

.nav_icon {
    margin-left: auto;
    font-size: 20px;
}

.rwd_icon {
    display: none;
}

.nav_icon a {
    margin-left: 30px;
    position: relative;
}

.nav_icon a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 100%;
    transition: 0.3s all;
}

.nav_icon a:hover::before {
    content: "";
    background-color: #FCC106;
}

nav .nav_a {
    margin-right: 40px;
    color: #403C3C;
    text-decoration: none;
}


/* 導覽列 end */


/* 頁尾 start */

footer {
    z-index: 6;
    background-color: #403C3C;
    color: white;
    bottom: 0;
    left: 0;
    position: sticky;
}

.footer_text {
    text-align: center;
    line-height: 10px;
    height: 20px;
}

.footer_link {
    /* float: right; */
    /* text-align: right; */
    display: flex;
    justify-content: end;
}

.footer_link a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
}


/* 頁尾 end */


/* RWD */


/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    header a img {
        width: 100%;
        height: 50px;
    }
    .nav_icon a {
        font-size: 19px;
        margin-right: 10px;
    }
    .footer_link {
        justify-content: center;
    }
}


/* 大型螢幕 */

@media screen and (max-width:992px) {
    header a img {
        width: 100%;
        height: 50px;
    }
    .nav_icon a {
        font-size: 18px;
        margin-right: 10px;
    }
}


/* 平板 */

@media screen and (max-width:768px) {
    header a img {
        width: 100%;
        height: 50px;
    }
    .nav_icon a {
        /* font-size: 16px;
        margin-right: 10px; */
        display: none;
    }
    .rwd_icon {
        display: block;
    }
    .footer_text {
        line-height: 40px;
        height: 50px;
        font-size: 14px;
    }
    .footer_link {
        font-size: 14px;
    }
}


/* 手機 */

@media screen and (max-width:576px) {
    header a img {
        width: 100%;
        height: 50px;
    }
    /* .nav_icon a {
        font-size: 14px;
        margin-left: 0px;
    } */
}


/* 小手機 */

@media screen and (max-width:480px) {
    .rwd_icon {
        width: 50%;
        display: flex;
        flex-direction: row;
    }
}


/* RWD end */